body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#jogo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10%;
}

.campo{
    margin-left: 10%;
    border: 1px solid black;
    border-radius: 4px;
}

.cartas{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.cartas div{
    display: flex;
    width: 35%; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.pontos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#interface{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5%;
    min-height: fit-content;
}

#deck{
    justify-content: space-around;
    display: flex;
    width: 50%;
}

#deck div{
    display: flex;
    width: 35%; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.nome_carta{
    margin-top: 50%;
}

#deck{
    border: 1px solid black;
    border-radius: 4px;
}

.carta{
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(255, 225, 55);
    margin: 0px;
    min-width: 60px;
    height: 70px;
}

.slot_carta{
    background-color: rgb(100, 100, 100);
    padding: 0px;
    min-height: 75px;
    min-width: 70px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 2px;
    margin: 5%;
}

button{
    height: 50px;
}

.slot_carta.jogador{
    background-color: rgb(70, 70, 255);
}

.slot_carta.pc{
    background-color: rgb(255, 70, 70);
}

.slot_carta.jogador.ocupado{
    background-color: rgb(50, 50, 255);
    border: 2px solid black;
    border-radius: 3px; 

}

.slot_carta.pc.ocupado{
    background-color: rgb(255, 50, 50);
    border: 2px solid black;
    border-radius: 3px; 
}